<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pączki</title>
</head>
<body>
    <h1>Oceny Pączków</h1>
    <table border="1">
      <th>Miejsce</th>
      <th>Cena</th>
      <th>Data</th>
      <th>Typ</th>
      <th>Ocena</th>
      <th>Komentarze</th>
      {% for detail in table_details %}
      <tr>
        <td> {{detail[0]}} </td>
        <td> {{detail[1]}} zł </td>
        <td> {{detail[2]}} </td>
        <td> {{detail[3]}} </td>
        <td> {{detail[4]}} </td>
        <td> {{detail[5]}} </td>
      </tr>
      {% endfor %}
    </table>
</body>
</html>
